* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-link {
    color: #fff;
}
#landing {
    display: flex;
    background-image: linear-gradient(rgba(255, 255, 150, 0.75), rgba(20, 88, 255, 0.45)),url('../images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
}
#landing-container {
    width: 500px;
    margin: 0 auto;
    text-align: center; 
}
#me {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-color: #333;
    border-width: 5px;
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 25px;
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 5px;
  background-color: #333;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
  background-color: #333;
  padding: 10px;
}
.bio {
  font-size: 18px;
  line-height: 1.75;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
h3 {
    font-size: 20px;
}
#skills-section, #projects-section, #contact-section {
    background-color: #eee;
    padding: 40px;
}
#profile-picture {
    background-image: url("../images/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
.tech-stack {
    height: 100px;
    margin-top: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
ul {
    list-style: none;
}
#html {
    background-image: url("../images/html.png");
}
#css {
    background-image: url("../images/css.png");
}
#js {
    background-image: url("../images/js.png");
}
#gitlab {
    background-image: url("../images/gitlab.png");
}
#node-js {
    background-image: url("../images/node-js.png");
}
.card {
    width: 100%;
    margin: 10px;
}
form {
    margin: 10px;
}
#map {
    height: 400px;
    width: 100%;
}
#iconList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icons {
    border: none;
    outline: none;
    background-color: #333; 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    margin: 5px;
    border-radius: 50px; 
    font-size: 18px;
}
#gitlabIcon:hover {
    color: blue;
}
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(20, 88, 255, 0.45); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50px; 
    font-size: 18px;
}
#topBtn:hover {
    background-color: #333;
}
.footer{
    border-top: 5px solid #6dccde;
    height: 10vh;
    line-height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
}

